@import url('https://fonts.google.com/specimen/Inter');

.nav-links {
    text-decoration: none;
    font-family: Inter;
    font-size: 2.063rem;
    color: black;
}

.container {
    /* border: 1px solid rgb(15, 15, 23); */
    display: flex;
    width: 17vh;
    justify-content: center;
    margin-top: 0.2rem;
    background-color: white;
    border:0.2px solid black;
    opacity: 0.95;
    border-radius: 9px;
}